# Variables de entorno del FRONTEND
# En Vite TODAS las variables deben empezar con VITE_
# de lo contrario no son accesibles en el código React

VITE_API_URL=http://localhost:3001/api
VITE_APP_NAME=NodoSys
